html {
    font-size: 62.5%;
}

.inputs {
    display: grid;
    grid-template-areas: 
        'first last'
        'email phone'
        'pw confirm-pw';
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

.first {
    grid-area: first;
}

.last {
    grid-area: last;
}